table{
	display: block;
        margin-left: 340px;
        margin-right: auto;
        width: 700px;
        border-radius: 4px;
        color: black;
}

h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display:block;
        color:white;
        font-family:Verdana, sans-serif;
        background: rgb(165,42,41);
        border: 2px solid white;
        width: 500px;

}
th, td {
        width: 500px;
        border: 2px solid black;
}
th{
        color:white;
        background-color: rgb(180,42,41)
}

#heading{
        color: white;
        background-color: red;
        border-radius: 40px;
        border-top-left-radius: 100px;
        background-image: url("umbrella_border.jpg")
}
